.container {
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
}
.heading {
    color: rebeccapurple;
}
.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.nav-link-item {
    padding-right: 2rem;
}
.nav-link-text {
    color: black;
}

.site-title {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
    margin: 3rem 0;
}

/*This style rule is a test for the new Grid system within Gastsby.*/
.test-background {
    background-color: #000;
    width: 100%;
}

.banner {
    width: 50%;
}


.logowrapper {
    margin-left: 100px;
    width: 20%;
    height: auto;
}

.logo {
    background-color: #FFF;
}
